Repository NewLeoT/openplace: changes, and which lint-staged commands are due for each by the changed paths.
All: npm exec -- eslint --fix, bash -c 'cd frontend2 && npm exec -- eslint --fix', npm exec -- prisma format

.lintstagedrc:

{
	"{src,scripts}/**/*.{js,ts,jsx,tsx}": "npm exec -- eslint --fix",
	"frontend2/**/*.{js,ts,jsx,tsx,vue}": "bash -c 'cd frontend2 && npm exec -- eslint --fix'",
	"*.prisma": "npm exec -- prisma format"
}

Start splitting out account signup
  frontend2/app/pages/login/register.vue
  frontend2/package.json
  pnpm-lock.yaml
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

some ting wong
  frontend2/app/layouts/auth.vue
  frontend2/app/pages/login/index.vue
  frontend2/app/pages/login/rules.vue
  package-lock.json
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Updated Discord link/unlink flow
  frontend2/app/composables/useUserProfile.ts
  frontend2/app/layouts/auth.vue
  frontend2/app/pages/login/discord.vue
  frontend2/app/pages/login/index.vue
  frontend2/app/pages/login/register.vue
  frontend2/app/pages/login/rules.vue
  src/public/account.css
  src/public/discord-link.html
  src/public/discord-unlink.html
  src/public/login-nextstep.html
  src/routes/discord.ts
  src/services/user.ts
Due: npm exec -- eslint --fix, bash -c 'cd frontend2 && npm exec -- eslint --fix'

Optimise initial background canvas draw
  frontend2/app/layouts/auth.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Add autocomplete params to register
  frontend2/app/pages/login/register.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Silly types thing
  src/index.ts
Due: npm exec -- eslint --fix

Keep the canvas going when the window resizes
  frontend2/app/layouts/auth.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

fix registration skipping discord linking
  frontend2/app/pages/login/discord.vue
  frontend2/app/pages/login/register.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

woops
  pnpm-lock.yaml
Due: none

Return better error when using store checkout
  src/index.ts
  src/routes/payment.ts
Due: npm exec -- eslint --fix

Remove CORS
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/index.ts
Due: npm exec -- eslint --fix

Disable random nicknames
  src/routes/auth.ts
Due: npm exec -- eslint --fix

Add stub in the nuxt app to redirect to the svelte app
  frontend2/app/layouts/auth.vue
  frontend2/app/pages/index.vue
  frontend2/app/pages/login/discord.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Remove unintended email field (WIP)
  frontend2/app/pages/login/register.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Fix vscode goof
  frontend2/app/components/App.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Use -- in class names only for modifiers
  frontend2/app/components/App.vue
  frontend2/app/components/PixelInfo.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Paint button should use primary color
  frontend2/app/components/PaintButton.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Add /health
  src/index.ts
  src/routes/health.ts
Due: npm exec -- eslint --fix

Remove no longer used /api/* mapping
  Caddyfile
Due: none

Add light/dark/auto theme toggle
  frontend2/app/assets/common.scss
  frontend2/app/components/App.vue
  frontend2/app/components/ColorPalette.vue
  frontend2/app/components/Map.vue
  frontend2/app/components/UserMenu.vue
  frontend2/app/composables/useTheme.ts
  frontend2/nuxt.config.ts
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Add search
  frontend2/app/components/App.vue
  frontend2/app/components/SearchBox.vue
  frontend2/app/components/icons/Back.vue
  frontend2/app/components/icons/Random.vue
  frontend2/app/utils/coordinates.ts
  frontend2/app/utils/default-locations.ts
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Show exact droplets that will be spent
  frontend2/app/components/store/StoreItem.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Use Dialog for PixelInfo
  frontend2/app/components/PixelInfo.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Fix racing initial map location setup
  frontend2/app/components/App.vue
  frontend2/app/components/Map.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Fix inverted lng/lat (I hate this)
  frontend2/app/utils/default-locations.ts
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Forgot to remove this lol
  frontend2/app/components/App.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Fix alignment of avatar and scaling
  frontend2/app/components/UserAvatar.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Way tidier search UI
  frontend2/app/components/SearchBox.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Press esc to close pixel info
  frontend2/app/components/App.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Fix missing compass icon
  frontend2/app/components/icons/Compass.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Add meta theme colors
  frontend2/nuxt.config.ts
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Color palette margin tweaks
  frontend2/app/components/ColorPalette.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Tidying up
  frontend2/app/components/App.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Store should be hidden when logged out
  frontend2/app/components/App.vue
Due: bash -c 'cd frontend2 && npm exec -- eslint --fix'

Log when a timed out user tries to paint, in addition to banned
  src/routes/pixel.ts
Due: npm exec -- eslint --fix

Make timeouts 3 days long
  src/services/user.ts
Due: npm exec -- eslint --fix

Allow admins to clear pixels without spending charges
  src/services/pixel.ts
Due: npm exec -- eslint --fix

Add script to export pngs of all pixels drawn by a user
  scripts/export-user-pixels.ts
Due: npm exec -- eslint --fix
